.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1 {
  font-size: 20px;
}
.text-left {
  text-align: left;
}
.btn {
  box-shadow: none !important;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}
.bigimg {
  height: 400px;
  border-radius: 5px;
}
