/* .navbar {
  background-color: rgb(44, 64, 214) !important;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
} */
.navbar-nav {
  margin-left: auto !important;
}
